.main {

    .seccion1 {
        .card {
            border: none;
        }
    }

    .seccion2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccion3 {
        .card {
            border: none;
        }
    }
}