.main {

    .seccion1 {
        
        .card {
            border: none;
            .card-img {
                height: 100%;

            }
            a {
                .boton-flecha {
                    width: 50em;
                    color: $color-typography
                }
            }
        }
    }

    .seccion2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccion3 {
        .card {
            border: none;
            .container {
                .button {
                    background-color: #fe07074d;
                }
            }
        }
    }
}